a
  transition: all 0.3s ease
  
.button
  display: inline-block
  font-weight: 600
  font-size: 14px
  line-height: 129%
  letter-spacing: 0.02em
  text-transform: uppercase
  text-align: center
  color: #fff
  border-radius: 90px
  padding: 15px 37px
  background: #28314d
  text-decoration: none

.button.outline
  color: #002130
  background: none
  border: 1px solid #abb2b5

.section_title
  margin-bottom: 70px
  font-weight: 600
  font-size: 52px
  line-height: 120%
  text-transform: uppercase
  color: #28314d